<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Portafolio</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>
    

<div>
    @Html.Partial("_NavBar") 
    
</div>

    <h1>ABOUT ME</h1>
    <div class="container">
        <div>
            <img src="~/imagenes/cv.jpg" alt="Mi Foto" width="300px">
            <p>Ramon Torres</p>
            <p>Desarrollador Full Stack</p>
        </div>
        <div>
            <p>Joven extranjero, electrónico de profesión y apasionado de la tecnología. Actualmente cursando la carrera de Analista Programador. Poseo conocimientos en metodologías ágiles como Scrum. Soy una persona adaptable, persistente y autodidacta, con fuertes habilidades de comunicación y trabajo en equipo. Mi objetivo es desempeñarme como desarrollador full stack, Scrum Master, Líder TI o analista de datos. Me gusta proponer mejoras que facilitan procesos de manera exitosa y también me gusta guiar a equipos hacia entregas de calidad.</p>
        </div>
    </div>
    
</body>
</html>
