<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>
    <div>
        @Html.Partial("_NavBar") 
        
    </div>

    <h1>My Projects</h1>

    <div class="main-container">
        <div class="project">
            <div class="image-container">
                <img src="ruta_de_la_imagen" alt="Descripción de la imagen 1">
            </div>
            <div class="description-container">
                <p>Detalles del proyecto 1</p>
            </div>
        </div>
        <div class="project">
            <div class="image-container">
                <img src="ruta_de_la_imagen" alt="Descripción de la imagen 2">
            </div>
            <div class="description-container">
                <p>Detalles del proyecto 2</p>
            </div>
        </div>
        <div class="project">
            <div class="image-container">
                <img src="ruta_de_la_imagen" alt="Descripción de la imagen 3">
            </div>
            <div class="description-container">
                <p>Detalles del proyecto 3</p>
            </div>
        </div>
    </div>
</body>
</html>
